body {
    font-family: Arial;
}
.centered {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item {
    flex-grow: 1;
}
.my-rect {
    color: blue;
}
.rect:hover {
    color: red;
}
.circle:hover {
    stroke: black;
    stroke-width: 5;
}