body {
    font-family: Arial;
}
.centered {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.my-rect:hover {
    fill: red
}
.my-circle:hover {
    stroke: #646464;
}